<h1>New Mood</h1>

<form action="/create_mood">
  <div>
    <label for="level">level</label><br />
    <input id="level" name="level" type="text" />
  </div>
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" type="text" />
  </div>
  <div>
    <label for="action_id">action_id</label><br />
    <input id="action_id" name="action_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

