
<h1 align="center" > Sign In </h1>
<form align="center" action="/sessions/create">
  <label for="username"> Username </label>
  <input type="text" id="username" placeholder="Your username here" name="username">
  <div>
      <p class="notice"> <%=notice %> </p>
    <label for="password">password</label>
    <input id="password" name="password" type="password" />
  </div>
<input type="submit" name="Submit">
</form>