<h1>New Action</h1>

<form action="/create_action">
  <div>
    <label for="description">description</label><br />
    <input id="description" name="description" type="text" />
  </div>
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

