<h1> This is build 0.0.3 </h1>

<h3> <p> 0.0.3 New in this build: </p>
  * Now uses chartkick gem tables, instead of progress bars to report data
  * Updated Show All Moods and individual user pages
  * Added a drop down menu to navigation bar
</h3>

<h3> (c) 2014 Alexander Fishman  </h3>