<h1> This is build 0.0.4 </h1>
<h2> The app MoodRing allows you to make a user (don't use your real emails for now) and submit data on your mood.
  It will graph your mood data over time and will compare how you're feeling to all the other users. The goal is to motivate behavior over time graphs and systems thinking for teens and adults. </h2>

<h3> <p> 0.0.4 New in this build: </p>
 <p> * Now with password authentication</p>
 <p> * Users must create a password along with their name and email fields</p>
 <p> * You will be limited to accessing your individual moods and the class averages</p>
  <p>* Users will not be able to edit other users mood data</p>
  <p>* Destroy disabled, for all but admin user, for now</p>
</h3>
<h3> <p> 0.0.3 New in this build: </p>
 <p> * Now uses chartkick gem tables, instead of progress bars to report data</p>
 <p> * Updated Show All Moods and individual user pages</p>
 <p> * Added a drop down menu to navigation bar</p>
  <p> * Implemented this about page </p>
</h3>

<h3> (c) 2014 Alexander Fishman  </h3>