<div class="jumbotron">
<h1> Mood Ring 0.0.5 A webapp for graphing mood over time </h1>
<h3> The app MoodRing allows you to make a user (don't use your real emails for now) and submit data on your mood.
  It will graph your mood data over time and will compare how you're feeling to all the other users. The goal is to motivate behavior over time graphs and systems thinking for teens and adults. </h3>
</div>
 <div class="jumbotron">
<h3> <p> 0.0.5 New in this build: </p> </h3>
  <p> * Changed menu language, so it asks "How are you feeling" instead of ambigous "level</p>
  <p> * When creating a mood, you now submit an action description instead of an id number</p>
  <p> * New graph showing average mood for each action description</p>

</div>
 <div class="jumbotron">
<h3> <p> 0.0.4 New in this build: </p> </h3>
 <p> * Now with password authentication</p>
 <p> * Users must create a password along with their name and email fields</p>
 <p> * You will be limited to accessing your individual moods and the class averages</p>
  <p>* Users will not be able to edit other users mood data</p>
  <p>* Destroy disabled, for all but admin user, for now</p>

</div>
 <div class="jumbotron">
     <h3> 0.0.3 New in this build:</h3>
     <p> * Now uses chartkick gem tables, instead of progress bars to report data</p>
     <p> * Updated Show All Moods and individual user pages</p>
     <p> * Added a drop down menu to navigation bar</p>
     <p> * Implemented this About page </p>
  </div>

<h3> This app was the assignment for Arjun's Starter League: Rails for Teachers class in Summer '14 </h3>
<h3> (c) 2014 Alexander Fishman  </h3>